html {

    margin: 0;
    height: 99%;
    width: 99%;

}

body{
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

}

header{
	padding : 0px 2px 0px;
  height: 185px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

footer{
  color: white;
  font: Ubuntu;
  background-color: #17aade;
  text-align:center;
  left:0;
  bottom: 0;
  right:0;
  width: 100%;
  position: relative;

}


section{
    margin : 0.3%;
    align-items: center;
    align-self: center;
    align-content: center;
}

nav {
	margin-right: 0.1%;
	margin-left: 0.1%;
  grid-row: 2;
  grid-column: 1 / 3;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(1,minmax(10%, 1fr));
	grid-template-rows: 4em;
    grid-row: 1 em;
    background-color: #17aade;
    list-style: none;
    padding-inline-start: 0px;
}

nav ul li{
    display: grid;
	grid-template-rows: auto;
    grid-template-columns: auto;
	width: 100%;
    grid-row: 1;
    border-right: 2px solid white;
	color: white;
	font-size: 17px;

}

nav ul li a
{
    display: grid;
	grid-template-rows: auto;
    grid-template-columns: auto;
	align-items: center;
	font-weight: bold;
	text-align:center;


	text-decoration: none;
	color: white;
}

nav a:hover {
  background-color: #555;
}

.titre
{
height: 2px;
margin-left:10px;
margin-bottom: 0px;
padding-bottom:30px ;
text-align: center;
vertical-align: center;
display: inline;
font-style:Ubuntu;

}


.titre h1 {

  margin-bottom: 0px;
  margin-top: 5px;
}


#logo img
{
	margin-left: 10%;
    width: 125px;
    height: 100px;
}

.imgCHU{
  cursor: pointer;
  height: 30px;
  width:30px;
}



h1{
    color:  #17aade;
    font-family: 'Ubuntu', Arial, cursive;
    font-size: 4em;
}



th.dt-center, td.dt-center { text-align: center; }

a{
text-decoration:none;
color:#000;
}


.form-field{
text-align:center;
padding-bottom: 3%;
}

.form-gene-name input[type=text], textarea{
  display: inline;
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-left: 2%;

}

.formwrapper{
	text-align:center;
}

#filtre {
	display: flex;
    justify-content: center;
}


.filtre_elt{
	margin-left: 2%;
	margin-right: 2%;
	font-size: 14px;
}

.info{
display:block;
text-align:center;
}


.seq_convertGlobal{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 35%;
  grid-template-rows:100%;
  grid-gap: 5px 50px;
  
}
.dz-message{
  margin: 0px !important;
  margin-top: 15px !important;
}
.dropzone_local{

  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border: 6px solid rgba(141, 199, 233);
  border-color:rgba(23, 170, 222);
  text-align: center;
  vertical-align:center;
  position: inherit;
  font-size: 24px;
  height: 75%;
  width: 100%;
  display: grid;
  position: relative;
  margin-top: 50px;
  

}

.card {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto ;
  width: 99%;
  justify-content: center;
  padding: 3px 3px 3px 3px;
  border: 6px solid rgba(23, 170, 222);
  border-radius: 20px;
  /* grid-row: 1/ span 2; */
  
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto;
  grid-template-columns: repeat(3,minmax(20%, 1fr));/*repaet indique que le motif minmax se repete sur auto-fit avec auto fit nombre de colonne determine*/
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 6px 6px 6px 6px;
  transition: 0.5s;
  align-items: center;
  justify-content: content;
  
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 60px;
  color: rgba(23, 170, 222);
}

.card .row .form-group input
textarea {
  position: absolute;
  width: 90%;
  height: 60px;
  background: transparent;
  outline: none;
  font-size: 18px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(23, 170, 222);
  box-shadow: 10px 10px 0 rgba(23, 170, 222);
  color: rgb(1, 13, 17);
  border-radius: 50px;

}
 .card .row .form-group input,
.card .row .form-group select {
  position: absolute;
  width: 90%;
  height: 60px;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(23, 170, 222);
  box-shadow: 10px 10px 0 rgba(23, 170, 222);
  color: rgb(1, 13, 17);
  border-radius: 50px;
  -webkit-appearance: button;
  appearance: button;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} 
 .card .row .form-group::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 120%;
  text-align: center;
  font-size: 18px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: auto;
}

.card .row .form-group:hover::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 120%;
  text-align: center;
  font-size: 18px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: auto;
} 

.card .row .form-group option {
  padding: 30px;
  border: 10px solid rgb(103, 222, 23);
  box-shadow: 10px 10px 0 rgb(222, 23, 99);
  border-radius: 50px;
  padding: 12px;
  width: 90%;
  height: 100%;
  border: 10px solid;
  font-size: 18px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.card .row .form-group label {
  line-height: 40px;
  color:  rgb(1, 13, 17);
  font-size: 18px;
  margin: 0 0 0 10px;
  border-radius: 50px;
  display: block;
  pointer-events: none;
}

.load_button{
  width: 90%;
  grid-template-columns: 50% 50%;
  margin: 20px;
  position: relative;
  display: grid;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
  
}
.options{
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  position: relative;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.options .filterButton{
  width: 70%;

}

.export {
  width: 100%;
  font-family: Ubuntu;
  font-size: 100;
  vertical-align: center;
  text-align: center;
  justify-items: center;
  align-items: center;
  display: inline;
}

.label_exports{
  font-size: 25px;
  vertical-align: middle;
  padding-left: 15px;
  text-indent: -15px;
  

}

#exportCSV{
  width: 70%;
  padding: 0;
  margin-top: 20;
  vertical-align: middle;
  position: relative;
  cursor: pointer;

}

.requestPart{

  position:relative;
  display:grid;
  text-align: center!important;
  justify-items: center!important;
  align-items: center!important;
}


.recherche_button {
  width: 100%;
  margin: 20px;
  float: left;
  position: relative;
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-content: center;

}

.export_button {
  width: 100%;
  margin: 20px;
  float: right;
  position: relative;
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-content: center;

}

#submit_all{
  width: 100%;
}

.recherche_button input{

  border: 5px solid rgba(23, 170, 222);

  padding: 8px;
  margin-top: 10px;
  width: 85%;
  height: 80px;
  cursor: pointer;
  background: rgba(23, 170, 222);
  text-transform: uppercase;
  color: rgb(238, 242, 243);
  line-height: 40px;
  font-size: 22px;
  font-weight: 700;
  border-radius:20px;
  transition: all 0.4s;
  
  position:relative;
  display:grid;
  text-align: center;
  justify-items: center;
  align-items: center;
}


.export_button input{

  border: 5px solid rgba(23, 170, 222);

  padding: 8px;
  margin-top: 10px;
  width: 85%;
  height: 80px;
  cursor: pointer;
  background: rgba(23, 170, 222);
  text-transform: uppercase;
  color: rgb(238, 242, 243);
  line-height: 40px;
  font-size: 22px;
  font-weight: 700;
  border-radius:20px;
  transition: all 0.4s;
  
  position:relative;
  display:grid;
  text-align: center;
  justify-items: center;
  align-items: center;
}


.requestPart select, .requestPart input[id="recherche"]{

  width: 70%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 20px;
  padding: 6px 0 5px 8px;
  border: 5px solid rgba(23, 170, 222);
  box-shadow: 10px 10px 0 rgba(23, 170, 222);
  color: rgb(1, 13, 17);
  border-radius: 50px;

    
  position:relative;
  display:inline-grid;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin-top: 6%;
  vertical-align: bottom;
  margin-bottom: auto;

}

.card .row input[type="file"] {
  
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: rgb(1, 13, 17);
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row input[name="submit_all"]:hover {
  border: 5px solid rgba(141, 199, 233, 1);
  color: rgba(141, 199, 233, 1);
  transition: all 0.4s;
}

.FilterTitle {
  line-height: 40px;
  color: rgb(1, 13, 17);
  font-size: 20px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: Ubuntu;
  text-decoration: "black underline";
  font-weight:bold ;
}
.FilterSubTitle {
  line-height: 40px;
  color: rgb(1, 13, 17);
  font-size: 20px;
  margin-left: 10px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: Ubuntu;
  text-decoration: "black underline";
  margin: 5px 5px 5px 5px;
}

.category_csq {
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: (5,minmax(10px, 20px));
}

.category_occ {
  display:grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: repeat(2,80px);
  position:relative;
  text-align: center;
  place-items: center;
}


.category_freq{
  display:grid;
  grid-template-columns:auto auto auto ;
  grid-template-rows: repeat(3,80px);
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 0px;

  
  
}


.item_complementaire{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(1,minmax(10px, 1fr));

  padding-bottom: 30px;

}
.item_complementaire input{

  border: 5px solid rgba(23, 170, 222);
  box-shadow: 10px 10px 0 rgba(23, 170, 222);
  width: 70%;
  height: 100%;
  background:transparent;
  color: black;
  font-size: 18px;
  border-radius:90px;
  transition: all 0.4s;
  position:relative;
  text-align: center;
  justify-items: center;
  align-items: center;
  vertical-align: middle;


}

.item_freq{

  text-align: center;
  justify-items: center;
  align-items: center;
  height:100%;
  display: flex;
  position: relative;
  vertical-align: middle;
  
}

.item_freq input{
  border: 5px solid rgba(23, 170, 222);
  box-shadow: 10px 10px 0 rgba(23, 170, 222);
  padding:3px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin: 10px;
  width: 80%;
  height: 25px;
  text-align: center;
  background:transparent;
  color: black;
  font-size: 18px;
  border-radius:90px;
  transition: all 0.4s;
}

.category_impact{
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr;
}

.case  {

  width: 20px;
  height: 20px;
  pointer-events: auto;
  cursor: pointer;
  vertical-align: middle; 

}


label[class="case"]{
  display: block;
  padding-left: 0px;
  text-indent: 0px;

}


label{
  line-height: 40px;
  color:  rgb(1, 13, 17);
  font-size: 19px;
  margin: 0 0 0 10px;
  border-radius: 50px;
  display: block;
  pointer-events: none;

}

.filter {

  grid-column-start: 1;
  grid-column-end: 5;



}
@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(3,minmax(50%, 0.5fr));
    grid-gap:1px 15px;
  }
  
  .card {
    padding: 2px;
    background-color: white;
  }
  
  .card h2 {
    font-size: 34px;
  }
  
  .card .row input[type="submit"] {
    width: 100%;
  }

}
/* FICHE VARIANT */
.cardFicheVar{
  display: grid;
 
  grid-template-columns: auto;
  grid-template-rows: 20% 30%;
}

.cardFicheVar .row {
  border: 5px solid rgba(23, 170, 222);
  border-radius: 50px;
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto;
  grid-template-columns: repeat(4,minmax(20%, 1fr));/*repaet indique que le motif minmax se repete sur auto-fit avec auto fit nombre de colonne determine*/
}

.cardFicheVar .row .col {
  position: relative;
  width: 100%;
  margin: 8px 8px 8px 8px;
  transition: 0.5s;
  align-items: center;
  justify-content: content;
}


.FilterTitle_ficheVariant {
  line-height: 40px;
  color: rgb(1, 13, 17);
  font-size: 15px;
  margin-left: 10px;
  margin-top: 8px;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  font-family: Ubuntu;
  text-decoration: "black underline";
  font-weight:bold ;
  margin: 0px 0px 0px 0px;
}

.item_complementaire_ficheVariant{

  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
 

}
.item_complementaire_ficheVariant input:not([type="submit"]){

  border: 5px solid rgba(23, 170, 222);
  box-shadow: 10px 10px 0 rgba(23, 170, 222);
  height: 50px;
  width: 100%;
  background:transparent;
  color: black;
  font-size: 16px;
  border-radius:90px;
  transition: all 0.4s;
  position:relative;
  display:flex;
  margin: 0px 150px 0px 0px;
  padding:0px 0px 0px 0px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-self: center;
  vertical-align: middle;
}

.requestPartFV input[type="submit"]{

  border: 5px solid rgba(23, 170, 222);

  padding: 8px;
  margin-top: 10px;
  width: 70%;
  height: 80px;
  cursor: pointer;
  background: rgba(23, 170, 222);
  text-transform: uppercase;
  color: rgb(238, 242, 243);
  line-height: 40px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.4s;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  vertical-align: middle;

}

.bigrequestCat {
  display: grid;
  align-items: center;
  position: relative;
  justify-content: center;
  place-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: 20% 60%;
}


.help_message{

  line-height: 40px;
  color: rgb(1, 13, 17);
  font-size: 20px;
  margin-left: 10px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: Ubuntu;
  text-decoration: "black underline";
  font-weight:bold ;
  margin: 1px 1px 1px 1px;
}
.help_message_effectif{
  height: 60%;
  line-height: 40px;
  color: rgb(1, 13, 17);
  font-size: 20px;
  justify-content: center;
  vertical-align: bottom;
  font-family: Ubuntu;
  display: flex;
  align-items: flex-end;
  text-decoration: "black underline";

}
#showHidden {

  visibility: "hidden";
}
.font_cat{
  line-height: 18px;
  color: rgb(1, 13, 17);
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-family: Ubuntu;
  text-decoration: "black underline";
}

.error_div{
  display: flex;
  justify-content: center;
  text-align: center;

}

.error_message{

  color:red;
  font-weight: 600;
  font-size: 20px;

  justify-content: center;

  justify-self: center;
}

.done_message{

  color:green;
  font-weight: 600;
  font-size: 20px;

  justify-content: center;

  justify-self: center;
}
table.dataTable tbody td {
  word-break: break-word;
  }

.button-27 {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }

  .button-27_template {

    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

    touch-action: manipulation;
    width: 100%;
    will-change: transform;

   
  }
  
  .button-27:disabled {
    pointer-events: none;
  }
  
  .button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }

    
  .button-27_template:disabled {
    pointer-events: none;
  }
  
  .button-27_template:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-27_template:active {
    box-shadow: none;
    transform: translateY(0);
  }
