{% extends 'base.html' %}
{% block content %}
<section id="plateConverter" >


<script>
var sample_data = jQuery.parseJSON('{{ data | tojson | safe }}');

</script>

<div class="seq_convertGlobal">
	<div class="card">
		<form method="POST" action={{ url_for('add_annotation') }} enctype="multipart/form-data">
			<div class="row">
				<div class="col">
					<div class="form-group">
						{{ form.logiciel.label }} {{ form.logiciel }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						{{ form.operator.label }}{{ form.operator }}
					</div>
				</div>
				<br/>
				<div class="col">
					<div class="form-group">
						{{ form.run.label }}{{ form.run (**{"onchange":"sampleChoice()"}) | safe }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						{{ form.sample.label }}{{ form.sample }}
					</div>
				</div>
				<div class="col">
					<div class="etalSub">
						{{ form.submit }}
					</div>
				</div>

				{{message}}
			</div>
		</form>
	</div>		
	<div class="droparea">
		{{ dropzone.create(action='upload') }}
		{{ dropzone.load_js() }}
		{{ dropzone.config() }}
	</div>

<script src = {{ url_for("static", filename="block_sample.js") }} ></script>


</section>

{% endblock %}
