{% extends 'base.html' %}
{% block content %}
        <section>
		<!-- <div class="subpage"> -->
			<div class="card">
				<form method="POST" action= {{ url_for('advanced') }}>
					<div class="row">
						<div class="col">
							<div class="form-group">
								{{ form.name.label }} {{ form.name(size=40) }}
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								{{form.samplename.label}} {{form.samplename}}
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								{{form.freq.label}} {{form.freq}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								{{form.oldest_date.label}} {{form.oldest_date}}
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								{{form.newest_date.label}} {{form.newest_date}}
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								{{form.occ.label}}  {{form.occ}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="boxTitle">
								Impact
							</div>
							<div class="category">
								<label class="boxTitle">HIGH<input class="case" type="checkbox" value='HIGH' name='impact'></label>				
								<label class="boxTitle">MODIFIER<input class="case" type="checkbox" value='MODIFIER' name='impact'></label>
								<label class="boxTitle">LOW<input class="case" type="checkbox" value='LOW' name='impact'></label>
							</div>
						</div>
						<!-- <div class="col"> -->
							<div class="boxTitleCSQ">
								Conséquences
								<div class="category">
									{% for elt in list_consequence %}
									<label class="boxTitleCSQ">{{elt}}<input class="case" type="checkbox" value={{ elt }} name='consequence'></label>		
									{% endfor %}
								</div>
							</div>
						<!-- </div> -->
					</div>
					<div class="row">
							<div class="etalSub">
							{{ form.submit }}
							</div>
						</div>
					</div>
				</form>
			<!-- </div> -->
			<div class='info'>
				<p> Nombre d'échantillons : {{ nbr_sample }} </p>
				<p> Consequence filter : {% for elt in info %} {{elt}}, {% endfor %}

{% for elt in valeur_consequence %}
{{ elt }}
{% endfor %}
				</div>
		</div>

			{% for table in tables %}
						{{ table|safe }}
			{% endfor %}


		<script type="text/javascript">




		$(document).ready(function() {
			var table = $('#table_id').dataTable(
			{
				dom: 'Bfrtip',
				columnDefs: [
       {"className": "dt-center", "targets": "_all"}]
			});


			var tableTools = new $.fn.dataTable.TableTools( table, {
        "buttons": [
            "copy",
            "excel"
        ]
    } );
		$( tableTools.fnContainer() ).insertAfter('div.info');
		} );




		</script>



        </section>


{% endblock %}
