{% extends 'base.html' %}
{% block content %}
    <div class="ficheVariant" >
		<div>
	
			{% for elt in table_annotation %}
						{{ elt|safe }}
			{% endfor %}


			{% for elt in table_sample %}
						{{ elt|safe }}
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript">

		$(document).ready(function() {
			var table = $('#table_id').dataTable(
			{
				dom: 'Bfrtip',
				columnDefs: [
       {"className": "dt-center", "targets": "_all"}]
			});


			var tableTools = new $.fn.dataTable.TableTools( table, {
        "buttons": [
            "copy",
            "excel"
        ]
    } );
		$( tableTools.fnContainer() ).insertAfter('div.info');
		} );

		$(document).ready(function() {
			var table = $('#table_sample').dataTable(
			{
				dom: 'Bfrtip',
				columnDefs: [
       {"className": "dt-center", "targets": "_all"}]
			});


			var tableTools = new $.fn.dataTable.TableTools( table, {
        "buttons": [
            "copy",
            "excel"
        ]
    } );
		$( tableTools.fnContainer() ).insertAfter('div.info');
		} );


		$(document).ready(function() {
			var table = $('#table_custom').dataTable(
			{
				dom: 'Bfrtip',
				columnDefs: [
       {"className": "dt-center", "targets": "_all"}]
			});


			var tableTools = new $.fn.dataTable.TableTools( table, {
        "buttons": [
            "copy",
            "excel"
        ]
    } );
		$( tableTools.fnContainer() ).insertAfter('div.info');
		} );
		</script>
{% endblock %}
