{% extends 'base.html' %}
{% block content %}
        <section>
		<script type="text/javascript">

		$(document).ready(function() {
			var table = $('#table_id').dataTable(
			{
				dom: 'Bfrtip',
				pageLength: 25,
				columnDefs: [
       {"className": "dt-center", "targets": "_all"}]
			});


			var tableTools = new $.fn.dataTable.TableTools( table, {
        "buttons": [
            "copy",
            "excel"
        ]
    } );
		$( tableTools.fnContainer() ).insertAfter('div.info');
		} );

		</script>

		<div class="formwrapper">
		  <form method="POST" action={{ url_for('genetable')}}>
			 <div class="form-field">

			Gene Name : <input type="text" id="gene_name" name="gene_name" required
			minlength="2" maxlength="20" size="10">
			<p> chaine de caractère pour trouver son geneID <br/> exemple : DLX </p>
			<input type="submit">

			</div>
			  
		  </form>
		</div>

			{% for table in tables %}
						{{ table|safe }}
			{% endfor %}

        </section>

{% endblock %}
