{% extends 'base.html' %}
{% block content %}
        <section>
		<script type="text/javascript">

		$(document).ready(function() {
			var table = $('#table_id').dataTable(
			{
				dom: 'Bfrtip',
				pageLength: 25,
				columnDefs: [
       {"className": "dt-center", "targets": "_all"}]
			});


			var tableTools = new $.fn.dataTable.TableTools( table, {
        "buttons": [
            "copy",
            "excel"
        ]
    } );
		$( tableTools.fnContainer() ).insertAfter('div.info');
		} );


		</script>




		<div class="formwrapper">
		  <form method="POST" action="/">
			  <div class="form-field">{{ form.name.label }} {{ form.name(size=40) }} 
				<br>
				<br>
				<div id='filtre'>
					<div class='filtre_elt'>
						<h4> Frequence </h4>
						{{form.freq.label}} {{form.freq(size=10)}}			<br>
						Exclude low frequency <input type="checkbox" value=True name="lowfreq">
						<br>
						<br>
					</div>
					<div class='filtre_elt'>
						<h4> Impact </h4>
						HIGH <input type="checkbox" value='HIGH' name='impact'>				<br>
						MODIFIER <input type="checkbox" value='MODIFIER' name='impact'>				<br>
						LOW <input type="checkbox" value='LOW' name='impact'>				<br>
					</div>
					<div class='filtre_elt'>
						<h4> Consequence </h4>
						{% for elt in list_consequence %}
						{{ elt }} <input type="checkbox" value={{ elt }} name='consequence'>				<br>
						{% endfor %}
					</div>
				</div>
				<br>
				<br>	


			 {{ form.submit }}</div>
			  
		  </form>
			<div class='info'>
				<p> Nombre d'échantillons : {{ nbr_sample }} </p>
				<p> Consequence filter : {% for elt in info %} {{elt}}, {% endfor %}


{% for elt in valeur_consequence %}
{{ elt }}
{% endfor %}
			<div\>
		</div>

			{% for table in tables %}
						{{ table|safe }}
			{% endfor %}

        </section>


{% endblock %}
