{% extends 'base.html' %}
{% block content %}
<section>
	<div class="card">
		<form method="POST" action={{ url_for('gene') }}>
			<div class="row">
				<div class="col">
					<div class="help_message">
						Plusieurs requêtes sont possibles:
					</div>
					<div class="font_cat">
						<ul>
						{%for help in help_message %}
							<li>{{help}}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col">
					<div class="requestPart">
					{{form.recherche}}
					</div>
					<div class="help_message_effectif">
						Nombre de patients: {{effectif}}
					</div>
				</div>
				<div class="requestPart">
					<div class="load_button">
						<div class="recherche_button">
							{{form.submit_all}}
						</div>
						<div class="export_button">
							{{form.download_request}}
						</div>
					</div>
					<div class="options">
						<div class="filterButton">
						<button class="button-27" type="button" onclick="showHidden()"> + de filtres</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">

				</div>
				<div class="col">
					<div class="error_div">
						{% if request == "error" %}
						<p class="error_message" method="post">Une ou plusieurs erreur ont été détectées: {{message}}</p>
						{% elif request == "done" %}
						<p class="done_message" method="post">Execution terminée</p>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="filter">
				<div class="row">
					<div class="col">
						<div class="FilterTitle">
							Fréquences
						</div>
						<div class="category_freq">
							<div class="item_freq">
								Freq. GnomAD
								<img class="imgCHU" src="../static/images/loupe_interrogation.png" title="GnomAd Exome v2.1.1">
							</div>
							<div class="item_freq">
								{{form.freqgnomad_min}}
							</div>
							<div class="item_freq">
								{{form.freqgnomad_max}}
							</div>
							<div class="item_freq">
								Freq. CHU
							</div>
							<div class="item_freq">
								{{form.freqCHU_min}}
							</div>
							<div class="item_freq">
								{{form.freqCHU_max}}
							</div>
						</div>
					</div>
					<div class="col">
						
						<div class="FilterTitle">
						Conséquences
						</div>
						<div class="category_csq">
							{% for elt in list_consequence %}
							<label><input class="case" type="checkbox" value={{ elt }} name='consequence'>{{elt}}</label>		
							{% endfor %}
						</div>
					</div>
					<div class="col">
						<div class="FilterTitle">
							Echantillon(s)
						</div>
						<div class="item_complementaire">
							<br>{{form.samplename}}</br>
						</div>
						<div class="FilterTitle">
							Période de séquençage
						</div>
						<div class="item_complementaire">
								<br>{{form.period}}</br>
						</div>
					</div>
				</div>
				<div id="showHidden">
					<div class="row">
						<div class="col">
							<div class="FilterTitle">
								Fréquences en fonction du contexte
							</div>
							<div class="category_freq">
								<div class="item_freq">
									Freq. HTZ
									<img class="imgCHU" src="../static/images/loupe_interrogation.png" title="Proportion des variants : 0.25 < AF <= 0.9">
								</div>
								<div class="item_freq">
									{{form.vaf_htz_min}}
								</div>
								<div class="item_freq">
									{{form.vaf_htz_max}}
								</div>
								<div class="item_freq">
									Freq. HOM
									<img class="imgCHU" src="../static/images/loupe_interrogation.png" title="Proportion des variants avec une AF > 0.9">
								</div>
								<div class="item_freq">
									{{form.vaf_hom_min}}
								</div>
								<div class="item_freq">
									{{form.vaf_hom_max}}
								</div>
								<div class="item_freq">
									Freq. LOW
									<img class="imgCHU" src="../static/images/loupe_interrogation.png" title="Proportion des variants avec une AF <= 0.25">
								</div>
								<div class="item_freq">
									{{form.vaf_lowest_min}}
								</div>
								<div class="item_freq">
									{{form.vaf_lowest_max}}
								</div>
							</div>
						</div>
						<div class="col">
							<div class="FilterTitle">
								Impact
							</div>
							<div class="category_impact">
								<label>HIGH<input class="case" display:d-inline type="checkbox" value='HIGH' name='impact'/></label>				
								<label>MODIFIER<input class="case"  type="checkbox" value='MODIFIER' name='impact'/></label>
								<label>MODERATE<input class="case"  type="checkbox" value='MODERATE' name='impact'/></label>
								<label>LOW<input class="case"  type="checkbox" value='LOW' name='impact'/></label>
							</div>
							<div class="FilterTitle">
								Occurences minimum
							</div>
							<div class="category_occ">
								<div class="item_freq">
									Occ. totale
								</div>
								<div class="item_freq">
									{{form.occ_tot_min}}
								</div>
								<div class="item_freq">
									{{form.occ_tot_max}}
								</div>
								<div class="item_freq">
									Occ. HTZ
								</div>
								<div class="item_freq">
									{{form.occ_htz_min}}
								</div>
								<div class="item_freq">
									{{form.occ_htz_max}}
								</div>
								<div class="item_freq">
									Occ. HOM
								</div>
								<div class="item_freq">
									{{form.occ_hom_min}}
								</div>
								<div class="item_freq">
									{{form.occ_hom_max}}
								</div>
								<div class="item_freq">
									Occ. LOW
								</div>
								<div class="item_freq">
									{{form.occ_low_min}}
								</div>
								<div class="item_freq">
									{{form.occ_low_max}}
								</div>
							</div>
						</div>
						<div class="col">
							<div class="FilterTitle">
								Lot de requêtes
							</div>
							<div class="bigrequestCat">
								<div>
									{{form.download_template}}
								</div>
								<div class="dropzone_local">
									{{ dropzone.create() }}
									{{ dropzone.config(custom_options='autoProcessQueue: true') }}

								</div>
									

								

								
							</div>
						</div>
					</div>
				</div>
			</div> 
	    </form>
	</div>

	{% for table in tables %}
	{{ table|safe }}
	{% endfor %}

	<script type="text/javascript">

		function showHidden() {
			var x = document.getElementById("showHidden");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";};

		}

		$(document).ready(
			function () {

			var x = document.getElementById("showHidden")
			x.style.display = "none";

			var requested_code = document.getElementById('table_id').value;


			function parse_period_and_sample(){

				var inputSample=""
				var inputperiod=""
				var inputSample= document.getElementById("samplename").value;
				const sample_seq = inputSample.replace("/","+");

				var inputperiod = document.getElementById("period").value;

				const date_seq = inputperiod.replace("/","_");
				return [date_seq,sample_seq];
			}

			function my_url(my_id){
				const [date_seq , sample_seq] = parse_period_and_sample();
				console.log(date_seq);
				console.log(sample_seq);
				if (date_seq=="" && sample_seq==""){
					return "{{ url_for('fiche_variant', variant_id_init=93) }}".replace(93,my_id);
				}
				else if (date_seq!="" && sample_seq==""){
					let init_my_id = "{{ url_for('fiche_variant',variant_id_init=93,period_init=94) }}".replace(93,my_id);
					let init_date = init_my_id.replace(94,date_seq);
					return init_date;
				}
				else if (date_seq=="" && sample_seq!=""){
					let init_my_id = "{{ url_for('fiche_variant',variant_id_init=93,sampleName_init=95 ) }}".replace(93,my_id);
					let init_seq = init_my_id.replace(95,sample_seq);
					return init_seq;
				}
				else{
				let init_my_id = "{{ url_for('fiche_variant', variant_id_init=93,period_init=94,sampleName_init=95 ) }}".replace(93,my_id)
				let init_date = init_my_id.replace(94,date_seq);
				let init_ech = init_date.replace(95,sample_seq);
				return init_ech;
				}
				 				

				} 
			
			var table = $('#table_id').DataTable({
				data: requested_code,
				dom: 'Bfrtip',
				autoFill: true,
				columnDefs: [
					{ "className": "dt-center", "targets": "_all" },
					{targets: [0],
						render: function (data) {
						return '<a href=' + my_url(data) + ' target=_blank><img src={{ url_for("static", filename="images/fiche.png") }} width="40" height="40" /></a>'
						}
					},
					{
						targets: [6],
						render: function (data, type, row) {
							return data.length > 10 ?
								data.substr(0, 5) + ' … ' + data.substr((data.length) - 5, data.length) :
								data;
						}
					},
					{
						targets: [6],
						render: function (data, type, row) {
							return data.length > 10 ?
								data.substr(0, 5) + ' … ' + data.substr((data.length) - 5, data.length) :
								data;
						}
					}
				],
				pageLength: 25,
				"columns": [
					{ title: "Descriptif" },
					{ title: "Gene" },
					{ title: "HGVSg" },
					{ title: "HGVSc" },
					{ title: "HGVSp" },
					{ title: "Consequence" },
					{ title: "GnomAD_AF" },
					{ title: "Freq_CHU" },
					{ title: "Htz_freq" },
					{ title: "Hom_freq" },
					{ title: "Lowest_freq" },
					{ title: "Nbr_porteur" },
				]
			});

		});



	</script>
</section>


{% endblock %}