{% extends 'base.html' %}
{% block content %}
        <section>

		<script type="text/javascript">

		$(document).ready(function () 
		{


			var requested_code = document.getElementById('table_id').value;


			function my_url(my_id) { return "{{ url_for('fiche_variant', variant_id=93) }}".replace('93', my_id);}



			console.log(requested_code);
			var table = $('#table_id').DataTable({
				data : requested_code,
				dom: 'Bfrtip',
				autoFill: true,
				columnDefs : [
				  {"className": "dt-center", "targets": "_all"},
				  { targets : [0],
					render : function(data) {
					  return '<a href='+my_url(data)+' target=_blank><img src={{ url_for("static", filename="images/fiche.png") }} width="40" height="40" /></a>'
					} 
				  },
				  {
					targets: [3],
							render: function ( data, type, row ) {
							return data.length > 10 ?
								data.substr( 0, 5 ) + ' … ' + data.substr( (data.length)-5, data.length ) :
								data;
							}
						},
				  {
					targets: [4],
							render: function ( data, type, row ) {
							return data.length > 10 ?
								data.substr( 0, 5 ) + ' … ' + data.substr( (data.length)-5, data.length ) :
								data;
							}
						}
   				 ],
				pageLength: 25,
				"columns": [
                    { result: ""},
                    { title: "chrom"},
                    { title: "pos"},
                    { title: "ref"},
                    { title: "alt"},
                    { title: "hgnc_name"},
                    { title: "htz_count"},
                    { title: "hom_count"},
		            { title: "low_freq"},
                    { title: "nbr_sample"},
                    { title: "freq"}]
				});





	});

		</script>
		<div class="formwrapper">
		  <form method="POST" action={{ url_for('variant') }}>
			  <div class="form-field">{{ form.variant_def.label }} {{ form.variant_def(size=40) }} 
				<p>exemple : 2-942451-T-C ou 2-942451 ou 2-942451-T </p>
				<p>[chr]-[pos]-[ref]-[alt] </p>
				{{ form.var_submit }}</div>
				<div class='info'>
					<p> Nombre d'échantillons : {{ nbr_sample }} </p>
				<div\>
			  
		  </form>

		</div>
			
			<p style="color:red;">{{message}}</p>

			{% for table in tables %}
						{{ table|safe }}
			{% endfor %}


        </section>
{% endblock %}
